{% extends "layout.html.twig" %}

	{%  block css %}
	<link rel="stylesheet" href="{{ asset('category/assets/css/main.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/style.css')}}" /> 
    {% endblock %}
    
    {% block title %}Ajout de category{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {{ form_start(articleForm, {
        'attr': {'class': 'form-admin'}})}}
    {{ form_end(articleForm)}}
{% endblock %}