{% extends "layout.html.twig" %}
{% block title %}page Admin{% endblock %}

{% block content %}
<div class='row'>
<section class="col-sm-7" >
<h2>Mes articles</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
{# affichage du message de réussite #}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>

    
{% endfor %}     
    
{% for article in articles %}


<ul>
    <img src="{{ asset('uploads/' ~ article.intervenantId.logo ) }}" class="img img-responsive img-rounded" width="150"> 
    <li>{{ article.title }}
             
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('deleteArticle', {id: article.id}) }}">Supprimer</a> 
        |   <a href="{{ path('updateAdmin', {id: article.id}) }}">Modifier</a>      
        {% endif %}
    </li>
    
</ul>

{% endfor %}

</section>

<section class="col-sm-45" >
<h2>Mes Intervenants</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
{# affichage du message de réussite #}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}          
{% for intervenant in intervenants %}
<ul>
    <img src="{{ asset('uploads/' ~ intervenant.logo ) }}" class="img img-responsive img-rounded" width="150">
    <li>{{ intervenant.nom }}
            <a href="{{ path('updateUser', {id: intervenant.id}) }}">Modifier</a>|
        <a href="{{ path('deleteUser', {id: intervenant.id}) }}">Supprimer</a> 
        
    </li>
</ul>
{% endfor %}
</section>
</div>
{% endblock %}

