{% extends "layout.html.twig" %}
{%  block css%}
<link rel="stylesheet" href="{{ asset('category/assets/css/main.css') }}" />
<link rel="stylesheet" href="{{ asset('css/style.css')}}" />
{%endblock%}

{% block title %}page Admin{% endblock %}

{% block content %}
    <div class='row'>
        <section class="col-sm-4 cadre" >

            <header class="caporal">
                <h2>Mes formations</h2>
            </header>

            {% for flashMessage in app.session.flashbag.get('success') %}
    {# affichage du message de réussite #}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>    
            {% endfor %}     
        
            {% for formation in formations %}
                <ul>
                    <img src="{{ asset('uploads/' ~ formation.intervenantId.logo ) }}" class="img img-responsive img-rounded" width="150"> 

                    <li>{{ formation.title }}             
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('updateFormation', {id: formation.id}) }}">Modifier</a>
                        |   <a href="{{ path('deleteFormation', {id: formation.id}) }}">Supprimer</a> 
                                 
                        {% endif %}
                    </li>
                    
                </ul>
            {% endfor %}
        </section>

        <section class="col-sm-4 cadre" >


            <header class="caporal">
            <h2>Mes Intervenants</h2>
            </header>

            {% for flashMessage in app.session.flashbag.get('success') %}
            {# affichage du message de réussite #}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}          
            {% for intervenant in intervenants %}
                <ul>
                    <img src="{{ asset('uploads/' ~ intervenant.logo ) }}" class="img img-responsive img-rounded" width="150">
                    <li>{{ intervenant.nom }}
                            <a href="{{ path('updateIntervenant', {id: intervenant.id}) }}">Modifier</a>|
                        <a href="{{ path('deleteIntervenant', {id: intervenant.id}) }}">Supprimer</a> 
                        
                    </li>
                </ul>

            {% endfor %}
        </section>
    </div>
{% endblock %}

