	{% extends "layout.html.twig" %}
	
	{% block title %}Un article{% endblock %}
	
	{% block content %}
            <h2>Mon article</h2>
			<article>
				<h2>{{ article.title }}</h2>

				<p>publié par <a href="{{ path('voirUser', {id:article.usersId.id})}}">{{article.usersId.username}}</a> le {{ article.datePubli }}</p>
				{% if token is defined and token.id == article.usersId %}
				<a href="{{ path('deleteArticle', {id: article.id}) }}">Supprimer</a>

			{% endif %}</p>
			</article>
		{% endblock %}
		