	{% extends "layout.html.twig" %}
	
	{% block title %}Un article{% endblock %}
	
	{% block content %}
            <h2>Mon article</h2>
			<article>
				<h2>{{ article.title }}</h2>

				<p>publié par <a href="{{ path('voirUser', {id:article.intervenantId.id})}}">{{article.intervenantId.nom}}</a> le {{ article.datePubli }}</p>
				{% if is_granted('ROLE_ADMIN') %}

				<a href="{{ path('deleteArticle', {id: article.id}) }}">Supprimer</a>
			{% endif %}

			
			</article>
		{% endblock %}
		