{% extends "layout.html.twig" %}

{% block title %}Un article{% endblock %}

{% block content %}
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
    
        <div id="main">
            <div class="inner">
                <header>
                    <a href="{{ path('home') }}">
                        <span class="symbol"><img src="{{ asset('img/logo/logo_couleur/logo_bulle.png') }}" alt="" /></span><span class="title"></span>
                    </a>
                    <h1>Les différentes Formations Proposées par <a href="http://www.bordeaux-metropole.fr/" target="blank">Bordeaux Metropole</a></h1>
                </header>
                <h2>Mes category</h2>
                    <section class="tiles">
                        {% for category in categorys %}
                            <article class="style{{category.id}}">
                                <span class="image">
                                    <img src="{{ asset('uploads/' ~ category.image ) }}" alt="" />
                                </span>
                                <a href ="{{ path('categoryFormation', { id: category.id }) }}"><h2>{{ category.category }}</h2></a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('deleteCategory', {id: category.id}) }}">Supprimer</a> 
                            |       <a href="{{ path('updateCategory', {id: category.id}) }}">Modifier</a>      
                                {% endif %}
                            </article>
                        {% endfor %}
                   </section>
                </div>
            </div>

    {% endblock %}