{% extends "layout.html.twig" %}
<<<<<<< HEAD
{%  block css %} <link rel="stylesheet" href="{{ asset('category/assets/css/main.css') }}" /> {% endblock %}
=======
{%  block css %} 
<link rel="stylesheet" href="{{ asset('category/assets/css/main.css') }}" />
<link rel="stylesheet" href="{{ asset('css/style.css')}}" />
{% endblock %}
>>>>>>> d5d51697fed60dd3367f0de148f4cc40c26c4e15


{% block title %}Un article{% endblock %}

{% block content %}
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
<<<<<<< HEAD
<!-- Wrapper -->
<div id="wrapper">
    
<!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
                <a href="../index.html.twig">
                    <span class="symbol"><img src="../images/logo/logo_couleur/logo_bulle.png" alt="" /></span><span class="title"></span>
                </a>

            <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

        </div>
    </header>


<!-- Main -->
        <div id="main">
            <div class="inner">
                <header>
                    <a href="{{ path('home') }}">
                        <span class="symbol"><img src="{{ asset('img/logo/logo_couleur/logo_bulle.png') }}" alt="" /></span><span class="title"></span>
                    </a>
                    <h1>Les différentes Formations Proposées par <a href="http://www.bordeaux-metropole.fr/" target="blank">Bordeaux Metropole</a></h1>
                </header>
                <h2>Mes categories</h2>
                <section class="tiles">
                    {% for category in categorys %}
=======

    <div id="main">
        <div class="inner">
            <header>
                <a href="{{ path('home') }}">
                    <span class="symbol"><img src="{{ asset('images/logo/logo_couleur/logo_bulle.png') }}" alt="" /></span><span class="title"></span>
                </a>
                <h1>Les différentes Formations Proposées par <a href="http://www.bordeaux-metropole.fr/" target="blank">Bordeaux Metropole</a></h1>
            </header>
            <h2>Mes categories</h2>
            <section class="tiles">
                {% for category in categorys %}                  
>>>>>>> d5d51697fed60dd3367f0de148f4cc40c26c4e15
                        
                        <article class="style{{category.id}}">
                            <div class="imge">
                            
                                <span class="image">
                                    
                                    <a href ="{{ path('categoryFormation', { id: category.id }) }}"><h2>{{ category.category }}</h2><img src="{{ asset('uploads/' ~ category.image ) }}" alt="" /></a>
                                </span>
                                
                                
                                <div class= "admin">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <p><a href="{{ path('deleteCategory', {id: category.id}) }}">Supprimer</a> 
                                |       <a href="{{ path('updateCategory', {id: category.id}) }}">Modifier</a></p>      
                                    {% endif %}
                                </div>
                            </div>
                        </article>


                    
                {% endfor %}
            </section>
        </div>
    </div>
<<<<<<< HEAD
    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>						
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('category') }}">Category</a></li>
            <li><a href="{{ path('lastFormations') }}">Dernieres formations</a></li> 	 	
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('homeAdmin') }}">Page admin</a></li>
                <li><a href="{{ path('ajoutFormation') }}">Ajouter formation</a></li>
                <li><a href="{{ path('ajoutCategory') }}">Ajouter category</a></li>
                <li><a href="{{ path('ajoutIntervenant') }}">Ajouter Intervenant</a></li>
                <li><a href="{{ path('logout') }}">déconnexion</a></li>
            {% else %}


                    <li><a href="{{ path('login') }}">connexion</a></li> 
            {% endif %}       
            
        </ul>
    </nav>


    
    <script src="{{ asset('category/assets/js/jquery.min.js')}}"></script>
    <script src="{{ asset('category/assets/js/skel.min.js')}}"></script>
    <script src="{{ asset('category/assets/js/util.js')}}"></script>
    {# <!--[if lte IE 8]><script src="{{ asset('assets/js/ie/respond.min.js')}}"></script><![endif]--> #}
    <script src="{{ asset('category/assets/js/main.js')}}"></script>
    {% endblock %}
=======
{% endblock %}
>>>>>>> d5d51697fed60dd3367f0de148f4cc40c26c4e15
