{% extends "layout.html.twig" %}
{% block title %}Ma page d'accueil{% endblock %}

{% block content %}
    <h2>Mes articles</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
    {# affichage du message de réussite #}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}          
    {% for categorie in categories %}
    <article>
        <h2>{{ categorie.title }}</h2>
        <img src="{{ asset('uploads/' ~ categorie.logo ) }}" class="img img-responsive img-rounded" width="150">
        <p>publié par 
            <a href="{{ path('voirIntervenant', {id: categorie.idIntervenant}) }}">
                {{ categorie.nom }}
            </a>

        </p>
        <p><a href="{{ path('voirFormation', {id: categorie.idArticle}) }}">Voir</a>

    </article>
    {% endfor %}
{% endblock %}