	{% extends "layout.html.twig" %}
	{%  block css%}<link rel="stylesheet" href="{{ asset('../web/category/bitch/css/main.css')}}" />{%endblock%}
	
	{% block title %}Les Métiers du Web{% endblock %}
	
	{% block content %}

            <h2>Mon article</h2>

			<article>

				<h2>{{ formation.title }}</h2>

				<p>publié par <a href="{{ path('voirIntervenant', {id:formation.intervenantId.id})}}">{{formation.intervenantId.nom}}</a> le {{ formation.datePubli }}</p>
				{% if is_granted('ROLE_ADMIN') %}

				<a href="{{ path('deleteFormation', {id: formation.id}) }}">Supprimer</a>
			{% endif %}
		
			</article>

	{% endblock %} 

	
	{# {% block content %}
	<body>


		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
								
									<a href="index.html.twig" class="logo"><img src="images/logo/logo_couleur/logo_1.png" class="formaction" alt="" /></a>
									
									
									<ul class="icons">
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>Les Métiers du Web</h1>
											<p>En quoi ils consistent ?</p>
										</header>
										<p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>

									</div>
									<span class="image object">
										<img src="images/numeric/metier_numeric_1.jpg" alt="" />
									</span>
								</section>

								<p>Phasellus pulvinar sodales scelerisque. Aenean ante lacus, ultricies iaculis mi eget, sodales condimentum turpis. Mauris hendrerit orci in justo pellentesque, quis hendrerit eros vehicula. Suspendisse quis egestas nisl. Ut dapibus dictum sapien, sit amet rutrum dolor euismod eu. Ut malesuada diam imperdiet nunc egestas, id accumsan risus faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam auctor enim eu imperdiet aliquet. Donec pharetra non orci quis congue. Ut bibendum suscipit condimentum. Donec et vestibulum velit.

								Nullam consectetur at tortor id fringilla. Aliquam sed lorem ut orci fringilla elementum at vel massa. Proin a maximus libero. Proin eu dictum leo. Pellentesque ultricies at ipsum ac venenatis. Pellentesque in nunc pellentesque felis rutrum porta. Curabitur lobortis posuere hendrerit. Sed sed vulputate mauris. Vestibulum id enim semper, condimentum velit vitae, semper ligula. Curabitur eu porttitor urna. Donec venenatis est erat, ut venenatis orci interdum viverra. Mauris at sodales augue, in cursus lectus. Nullam aliquet maximus eros, vel interdum mi. Donec tincidunt at lorem a porta. Nulla laoreet consectetur felis, eu varius diam commodo vitae. Suspendisse potenti.</p>
								<br>
								<span class="image object">
									<img src="images/numeric/metier_numeric_5.jpg" alt="" />
								</span>
								<br>
								<p>Phasellus pulvinar sodales scelerisque. Aenean ante lacus, ultricies iaculis mi eget, sodales condimentum turpis. Mauris hendrerit orci in justo pellentesque, quis hendrerit eros vehicula. Suspendisse quis egestas nisl. Ut dapibus dictum sapien, sit amet rutrum dolor euismod eu. Ut malesuada diam imperdiet nunc egestas, id accumsan risus faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam auctor enim eu imperdiet aliquet. Donec pharetra non orci quis congue. Ut bibendum suscipit condimentum. Donec et vestibulum velit.

								Nullam consectetur at tortor id fringilla. Aliquam sed lorem ut orci fringilla elementum at vel massa. Proin a maximus libero. Proin eu dictum leo. Pellentesque ultricies at ipsum ac venenatis. Pellentesque in nunc pellentesque felis rutrum porta. Curabitur lobortis posuere hendrerit. Sed sed vulputate mauris. Vestibulum id enim semper, condimentum velit vitae, semper ligula. Curabitur eu porttitor urna. Donec venenatis est erat, ut venenatis orci interdum viverra. Mauris at sodales augue, in cursus lectus. Nullam aliquet maximus eros, vel interdum mi. Donec tincidunt at lorem a porta. Nulla laoreet consectetur felis, eu varius diam commodo vitae. Suspendisse potenti.</p>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Les Formations Proposées </h2>
									</header>
									<div class="features">
										<article>
											<span class="icon fa-university"></span>
											<div class="content">
												<h3 ><a href="http://www.philomathiquebordeaux.com/nouvelle-formation-web/" target="_blank">LA PHILOMATHIQUE</a></h3>
												<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											</div>
										</article>
										<article>
											<span class="icon fa-paper-plane"></span>
											<div class="content">
												<h3 ><a href="https://www.lewagon.com/fr/bordeaux" target="_blank">LE WAGON</a></h3>
												<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											</div>
										</article>
										<article>
											<span class="icon fa-rocket"></span>
											<div class="content">
												<h3 ><a href="https://wildcodeschool.fr/metier-de-developpeur/" target="_blank">WILD SCHOOL ACADEMY</a></h3>
												<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											</div>
										</article>
										<article>
											<span class="icon fa-signal"></span>
											<div class="content">
												<h3 ><a href="http://www.m2iformation-diplomante.com/webmaster/?gclid=CjwKCAiApJnRBRBlEiwAPTgmxImsrJgNIBGDjcD53si--Ey9zXxm6ccMuFgIVR_R1i5jDq3nxo6ZbRoCP34QAvD_BwE" target="_blank">M2i</a></h3>
												<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											</div>
										</article>
											<article>
											<span class="icon fa-thumbs-up"></span>
											<div class="content">
												<h3 ><a href="https://entrepot.aquitaine-cap-metiers.fr/recherche/formation/201710029756" target="_blank">GIP FCIP AQUITAIN</a></h3>
												<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											</div>
										</article>
										<article>
											<span class="icon fa-bolt"></span>
											<div class="content">
												
												<h3 ><a href="https://www.digital-campus.fr/formation/developpement-web" target="_blank">Digital CAMPUS </a></h3>
												<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											</div>
										</article>


									</div>
								</section>
								<h3>Témoignage</h3>
									
									<div class="box">
									<h4 class="Aga">Agathe Loiseau</h4>
										<p>Felis sagittis eget tempus primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Magna sed etiam ante ipsum primis in faucibus vestibulum.</p>
									</div>

									<div class="box">
									<h4 class="Aga">Agathe Loiseau</h4>
										<p>Felis sagittis eget tempus primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Magna sed etiam ante ipsum primis in faucibus vestibulum.</p>
									</div>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Les différents domaines</h2>
									</header>
									<div class="posts">
										<article>
											<a href="metiers/page_bois.html.twig" class="image"><img src="images/bois/metier_bois_1.jpg" alt="" /></a>
											<h3>Métiers du Bois</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
										</article>

										<article>
											<a href="metiers/page_bouche.html.twig" class="image"><img src="images/bouche/metier_bouche_1.jpg" alt="" /></a>
											<h3>Métiers de Bouche</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
										</article>

										<article>
											<a href="metiers/page_creatif.html.twig" class="image"><img src="images/creatif/metier_creatif_1.jpg" alt="" /></a>
											<h3>Métiers de la Création</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
										</article>

										<article>
											<a href="metiers/page_musique.html.twig" class="image"><img src="images/musique/metier_musique_1.jpg" alt="" /></a>
											<h3>Métiers du Son</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
										</article>

										<article>
											<a href="metiers/page_cuisine.html.twig" class="image"><img src="images/bouche/metier_bouche_9.jpg" alt="" /></a>
											<h3>Métiers de Cuisine</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
										</article>
									</div>
								</section>

						</div>
					</div>

								<!-- Sidebar -->
				 	

							<!-- Footer -->
								

						</div>
					</div>

			</div>


		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>


	</body>
	{% endblock %} #}
{% endblock %}
		