	{% extends "layout.html.twig" %}
	
	{% block title %}Un article{% endblock %}
	
	{% block content %}
            <h2>Mon article</h2>
			<article>
				<h2>{{ formation.title }}</h2>

				<p>publié par <a href="{{ path('voirIntervenant', {id:formation.intervenantId.id})}}">{{formation.intervenantId.nom}}</a> le {{ formation.datePubli }}</p>
				{% if is_granted('ROLE_ADMIN') %}

				<a href="{{ path('deleteFormation', {id: formation.id}) }}">Supprimer</a>
			{% endif %}

			
			</article>
		{% endblock %}
		