	{% extends "layout.html.twig" %}
		{% block title %}Ma page d'accueil{% endblock %}

		{% block content %}
            <h2>Mes articles</h2>
            {% for flashMessage in app.session.flashbag.get('success') %}
            {# affichage du message de réussite #}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}          
			{% for article in articles %}
			<article>
				<h2>{{ article.title }}</h2>
				<p>publié par 
					<a href="{{ path('voirUser', {id: article.idUser}) }}">
						{{ article.username }}
					</a>
					le {{article.datePubli}}
				</p>
				<p><a href="{{ path('voirArticle', {id: article.idArticle}) }}">Voir</a>
					{% if token is defined and token.id == article.idUser %}
					| <a href="{{ path('deleteArticle', {id: article.idArticle}) }}">Supprimer</a>

				{% endif %}</p>
			</article>
			{% endfor %}
		{% endblock %}

		