	{% extends "layout.html.twig" %}
	{%block css%}<link rel="stylesheet" href="{{ asset('css/main.css') }}" />{%endblock%}
		{% block title %}Ma page d'accueil{% endblock %}

		{% block content %}
	
		<div id="page-wrapper">
			<header id="header">
							<nav id="nav">
								
								<ul class="actions">
									<li class="uiIconInput">
										<form action="{{ path('recherche')}}">
											<input placeholder="Recherche" type="text" name="search">
	
											<input type="submit" value="Send Message" class="prout">
										</form>
									</li>
									<div class="clic">								
										  <li><a href="{{ path('home') }}">Accueil</a></li>
										<li><a href="{{ path('category') }}">Category</a></li>
										<li><a href="{{ path('lastFormations') }}">Dernieres formations</a></li> 	 	
										{% if is_granted('ROLE_ADMIN') %}
											<li><a href="{{ path('homeAdmin') }}">Page admin</a></li>
											<li><a href="{{ path('ajoutFormation') }}">Ajouter formation</a></li>
											<li><a href="{{ path('ajoutCategory') }}">Ajouter category</a></li>
											<li><a href="{{ path('ajoutIntervenant') }}">Ajouter Intervenant</a></li>
											<li><a href="{{ path('logout') }}">déconnexion</a></li>
										{% else %}
	
						
											 <li><a href="{{ path('login') }}">connexion</a></li> 
										{% endif %}
									</div>
								</ul>
							</nav>
							</header>
			

		

		<section id="banner">
			<div class="content">
				<span class="img img-responsive img-rounded"><img src="{{ asset('img/logo/logo_couleur/logo_slogan.png') }}" alt="" /></span>					
				<button class="button special"><a href="{{ path('category') }}"  class="lien"id="contact" >Formations</a></button>					 
			</div>
			<a href="#one" class="goto-next scrolly">Next</a>
		</section>

		<section id="one" class="spotlight style1 bottom">
				<span class="image fit main"><img src="{{ asset('img/rust.jpg') }}" alt="" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="4u 12u$(medium)">
								<header>
									<h2>Odio faucibus ipsum integer consequat</h2>
									<p>Nascetur eu nibh vestibulum amet gravida nascetur praesent</p>
								</header>
							</div>
							<div class="4u 12u$(medium)">
								<p>Feugiat accumsan lorem eu ac lorem amet sed accumsan donec.
								Blandit orci porttitor semper. Arcu phasellus tortor enim mi
								nisi praesent dolor adipiscing. Integer mi sed nascetur cep aliquet
								augue varius tempus lobortis porttitor accumsan consequat
								adipiscing lorem dolor.</p>
							</div>
							<div class="4u$ 12u$(medium)">
								<p>Morbi enim nascetur et placerat lorem sed iaculis neque ante
								adipiscing adipiscing metus massa. Blandit orci porttitor semper.
								Arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer
								mi sed nascetur cep aliquet augue varius tempus. Feugiat lorem
								ipsum dolor nullam.</p>
							</div>
						</div>
					</div>
				</div>							
		</section>
			     

			
		<div class="col-md-12">

			</div>
			<footer class="footer">
			</footer>
	</div>
</div>
	

<script src="{{ asset('assets/js/jquery.min.js')}}"></script>
<script src="{{ asset('assets/js/jquery.scrolly.min.js')}}"></script>
<script src="{{ asset('assets/js/jquery.dropotron.min.js')}}"></script>
<script src="{{ asset('assets/js/jquery.scrollex.min.js')}}"></script>
<script src="{{ asset('assets/js/skel.min.js')}}"></script>
<script src="{{ asset('assets/js/util.js')}}"></script>
{# <!--[if lte IE 8]><script src="{{ asset('assets/js/ie/respond.min.js')}}"></script><![endif]--> #}
<script src="{{ asset('assets/js/main.js')}}"></script>
		{% endblock %}

		