	{% extends "layout.html.twig" %}
		{% block title %}Ma page d'accueil{% endblock %}

		{% block content %}
            <h2>Mes articles</h2>
            {% for flashMessage in app.session.flashbag.get('success') %}
            {# affichage du message de réussite #}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}          
			{% for formation in formations %}
			<article>
				<h2>{{ formation.title }}</h2>
				<p>publié par 
					<a href="{{formation.url}}">
						{{ formation.nom }}
					</a>
					le {{formation.datePubli}}
				</p>
				<p><a href="{{ path('voirFormation', {id: formation.idArticle}) }}">Voir</a>

			</article>
			{% endfor %}
		{% endblock %}

		