{% extends "layout.html.twig" %}
{%  block css%}

	<link rel="stylesheet" href="{{ asset('category/assets/css/main.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/style.css')}}" />
	
{%endblock%}
	
	{% block title %}{{ intervenant.nom }}{% endblock %}
	
	{% block content %}
			<div class="column">
				<div class ="end" > 
					<article>
						<header class="caporal">
							<h2>{{ intervenant.nom }} : </h2>			
						</header>
					</article>
					<article>
						<header class="caporal">
							<p><a href="{{ intervenant.contact }}">Contact : </a>{{ intervenant.phone }}</p>			
						</header>
					</article>					
				</div>
				<div class="start">
					{% for formation in formations %}
					<article>				
						<h4>Formation : {{ formation.title }}</h4>			
						<p><a href="{{ formation.url}}">Voir</a></p>
					</article>
					{% endfor %}
				</div>
			</div>
	{% endblock %}
		