	{% extends "layout.html.twig" %}
	
	{% block title %}Un utilisateur{% endblock %}
	
	{% block content %}
        <h2>utilisateur:</h2>
			<div class="row">
				<div class="col-md-8">
					<article>
						<h2>Formation proposée par : {{ intervenant.nom }}</h2>
						<p><a href="{{ intervenant.contact }}">Contact</a></p>
						<p>{{ intervenant.phone }}</p>
					</article>					
				</div>

				<div class="col-md-4">
					{% for formation in formations %}
					<article>				
						<h4>Formation : {{ formation.title }}</h4>			
						<p><a href="{{ path('voirFormation', {id: formation.id}) }}">Voir</a></p>
					</article>
					{% endfor %}
				</div>
			</div>
	{% endblock %}
		