<!DOCTYPE html>
<html lang="fr">

	<head>
		<title>FormAction</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		
		
		{# <link rel="stylesheet" href="{{ asset('admin/admin.css') }}" /> #}
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		{%block css%}{%endblock%}
		<link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}" /> 
		
	</head>
	<body class="landing">
		
					<div id="page-wrapper">
		
        	{# <nav class="nav nav-bar">
            	<ul>
					<li><a href="{{ path('home') }}">Accueil</a></li>
					<li><a href="{{ path('category') }}">Category</a></li>
					<li><a href="{{ path('lastFormations') }}">Derniers articles</a></li>				
					{% if is_granted('ROLE_ADMIN') %}
						<li><a href="{{ path('homeAdmin') }}">Page admin</a></li>
						<li><a href="{{ path('ajoutFormation') }}">Ajouter formation</a></li>
						<li><a href="{{ path('ajoutCategory') }}">Ajouter category</a></li>
						<li><a href="{{ path('ajoutIntervenant') }}">Ajouter Intervenant</a></li>
						<li><a href="{{ path('logout') }}">déconnexion</a></li>
					{% else %}

						<li><a href="{{ path('login') }}">connexion</a></li>
               		{% endif %}
            	</ul>
			</nav>
			<h2>Recherche</h2>
				<form class="row" action="{{ path('recherche')}}">
					<input class="form-control col-sm-6" type="text" name="search">
					<button class="btn btn-default col-sm-2" type="submit">Rechercher</button>
				</form> #}
				<div class="col-md-12">
					{% block content %}{% endblock %}
				</div>
				<footer id="footer">
						<ul class="icons">

							<li><a href=" https://www.facebook.com/" class="fa fa-facebook fa-2x"><span class="label"></span></a></li>
							<li><a href="https://www.linkedin.com" class="fa fa-linkedin fa-2x"><span class="label"></span></a></li>
							<li><a href="http://gmail.com/" class="fa fa-envelope fa-2x"><span class="label"></span></a></li>
						</ul>
						<ul class="logo">
							<h3>Partenaires</h3>
							<img src="{{ asset('../web/img/cesi.png') }}" class="img img-responsive img-rounded" width="150">
							<img src="{{ asset('../web/img/cfa.png') }}" class="img img-responsive img-rounded" width="150">
							<img src="{{ asset('../web/img/digitalcampus2.png') }}" class="img img-responsive img-rounded" width="150">
							<img src="{{ asset('../web/img/greta.png') }}" class="img img-responsive img-rounded" width="150">
							<img src="{{ asset('../web/img/lewagon2.png') }}" class="img img-responsive img-rounded" width="150">
							<img src="{{ asset('../web/img/m2i.jpg') }}" class="img img-responsive img-rounded" width="150">
							<img src="{{ asset('../web/img/modula.png') }}" class="img img-responsive img-rounded" width="150">
							<img src="{{ asset('../web/img/philomathique.png') }}" class="img img-responsive img-rounded" width="150">
							<img src="{{ asset('../web/img/web_force_3.png') }}" class="img img-responsive img-rounded" width="150">			
						</ul>

					</footer>
					</div>
	
			{# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> #}
			
			<!-- Scripts -->
			<!-- Scripts -->
	
			{% block javascipt %}{% endblock %}
	</body>
</html>