<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<div class="container">
		<header>
			<img src="{{ asset('elandy.jpg') }}" class="img img-responsive img-rounded" width="150">
            <h1>projet Silex avec twig</h1>
		</header>
        <nav class="nav nav-bar">
            <ul>
				<li><a href="{{ path('home') }}">Accueil</a></li>
				<li><a href="{{ path('category') }}">Category</a></li>
                <li><a href="{{ path('lastArticles') }}">Derniers articles</a></li>
				<!-- <li><a href="{#{{ path('contactezmoi') }}#}">Contact</a></li> -->
				<li><a href="{{ path('advanceSearch') }}">Recherche avancee</a></li>
				
				{% if is_granted('ROLE_ADMIN') %}
					<li><a href="{{ path('homeAdmin') }}">Page admin</a></li>
					<li><a href="{{ path('ajoutCategory') }}">Ajouter category</a></li>
					<li><a href="{{ path('ajoutAdArticle') }}">Ajouter article</a></li>
					<li><a href="{{ path('ajoutUser') }}">Ajouter Intervenant</a></li>
					<li><a href="{{ path('logout') }}">déconnexion</a></li>
				{% else %}

					<li><a href="{{ path('login') }}">connexion</a></li>
                {% endif %}
            </ul>
		</nav>
		<h2>Seurche angine</h2>
		<form class="row" action="{{ path('rechercheParTitre')}}">
			<input class="form-control col-sm-6" type="text" name="search">
			<button class="btn btn-default col-sm-2" type="submit">Rechercher</button>
		</form>
		<div class="col-md-12">
            {% block content %}{% endblock %}
		</div>
		<footer class="footer">cvxbvcbcvb
		</footer>
	</div>
	{# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> #}
	{% block javascipt %}{% endblock %}
</body>
</html>