{% extends "layout.html.twig" %}
{%  block css%}

	<link rel="stylesheet" href="{{ asset('category/assets/css/main.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/style.css')}}" />
	
{%endblock%}

{% block content %}
    
    {% for flashMessage in app.session.flashbag.get('success') %}
    {# affichage du message de réussite #}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <section >
        {{ form_start(searchForm, { attr: {'id':'form'} ,'method':'GET'})}}    
            <div class="form-group">
                {{ form_widget(searchForm.text) }}     
            </div>
        {{ form_end(searchForm)}}
    </section>

    <section class="resultat">
            {% for article in articles %}
            <article>
                <h2>{{ article.title }}</h2>
                <p><a href="{{ path('voirArticle', {id: article.id}) }}">Voir</a></p>
            </article>
            {% endfor %}
    </section>


       
{% endblock %}